<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/48938155eb24b4ccdde09426066869504c6dab3c/dist/css/bootstrap.min.css">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <style type="text/css">
      .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 2px;
      }

      .exit {
        fill: black;
      }



      .stroked   {
        stroke: #000;
        stroke-width: 2px;
      }


    </style>
  </head>
  <body>
  	<div id="test"></div>
    <div class="container"></div>
  </body>
  <script src="/bundle.js"></script>
</html>
